<!-- 
User registration page
Created by Nuha Rilwan
Last modified: 24/04/2026

same as index page. pls update 
-->

<!-- uses the base template for header and footer -->
{% extends "base.html" %}

<!-- actual content of the page starts here -->
{% block content %}

<!-- Main -->
 <main class="auth-main centered-page">
    <section class="auth-section container">
        <div class="auth-center">
            <div class="auth-card">
                <div class="auth-card-header">
                    <h2>Create Account</h2>
                    <p>Set up your account to start using SignBridge.</p>
                </div>

    <!-- ===================================  new form starts here ============================ -->

    <form action="" method="post" novalidate class="auth-form"> <!-- no validation done client-side -->
            {{ form.hidden_tag() }} <!-- creates a unique token, used to prevent CSRF attacks -->

            <!-- Email -->
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email() }}
                {% for error in form.email.errors %}
                <span style="color: #b03051;">[{{ error }}]</span> <!-- returns error if not validated -->
                {% endfor %}
            </div>

            <!-- Username -->
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username() }}
                {% for error in form.username.errors %}
                <span style="color: #b03051;">[{{ error }}]</span> <!-- returns error if not validated -->
                {% endfor %}
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(id="password") }}

                {% for error in form.password.errors %}
                <span style="color: #b03051;">[{{ error }}]</span>
                {% endfor %}

                <!-- Password requirements - these are validated both client-side and server side -->
                 <!-- the client-side validation is handled with js in register.js -->
                <div class="password-requirements" id="passwordRequirements" style="display:none;">
                            <p class="form-helper">Password must include:</p>
                            <div style="display:grid; gap:6px;">
                        <div class="req-item" id="reqLength" style="color: #e74c3c;">
                            At least 12 characters
                        </div>
                        <div class="req-item" id="reqUpper" style="color: #e74c3c;">
                            At least one uppercase letter (A-Z)
                        </div>
                        <div class="req-item" id="reqLower" style="color: #e74c3c;">
                            At least one lowercase letter (a-z)
                        </div>
                        <div class="req-item" id="reqNumber" style="color: #e74c3c;">
                            At least one number (0-9)
                        </div>
                        <div class="req-item" id="reqSpecial" style="color: #e74c3c;">
                            At least one special character (!@#$%^&*)
                        </div>
                    </div>
                </div>

            <!-- enter pw again -->
            <div class="form-group">
                {{ form.repeat_password.label }}
                {{ form.repeat_password() }}
                {% for error in form.repeat_password.errors %}
                <span style="color: #b03051;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Sign up button -->
            {{ form.submit() }}
            </form>

            <!-- alternatively, login  -->
             <p class="auth-footer-text">
            <a href="{{ url_for('auth.login') }}" class="text-link">
                Already have an account? Log in here
            </a>
            </p>
    </div>
    </div>
    </section>
</main>

<script src="/static/js/register.js"></script>

{% endblock %}
<!-- anything added below endblock WILL NOT show up in the page -->