<!-- 
Contact us page 
Created by Anuki Kithara
Last modified 24/04/2026
 
 add a description 
 -->

<!-- uses the base template for header and footer -->
{% extends "base.html" %}

<!-- actual content of the page starts here -->
{% block content %}

<!-- Main -->
 <main class="contact-main">
    <section class="contact-section container">
      <!-- Page header -->
        <div class="section-intro">
            <p class="section-title">Contact Us</p>
            <p class="section-lead">
                Have questions or need assistance? We’re here to help.
            </p>
        </div>

        <!-- Left Column -->
       <div class="contact-layout">
            <div class="contact-info-column">
        <!-- Card 1 Email -->
        <article class="contact-info-card">
                    <div class="contact-icon">
                        <img src="https://i.postimg.cc/pd6mz8BR/Email-Icon.png" alt="Email icon">
                    </div>
                    <h2>Email Us</h2>
                    <p>admin.signbridge+inquiries@gmail.com</p>
                </article>

        <!-- Card 2 Call -->
         <article class="contact-info-card">
                    <div class="contact-icon">
                        <img src="https://i.postimg.cc/nLHz620N/Phone-Icon.png" alt="Phone icon">
                    </div>
                    <h2>Call Us</h2>
                    <!-- now links to dulitha's phone because it's funny -->
                     <!-- lol i'm wheezing -->
                    <p>+94 71 436 0180</p>
                </article>

                <!-- Card 3 Operation Hours -->
                <article class="contact-info-card">
                    <div class="contact-icon">
                        <img src="https://i.postimg.cc/y8wqR8Zs/Operation-Hours-Icon.png" alt="Working hours icon">
                    </div>
                    <h2>Working Hours</h2>
                    <p>Mon-Fri: 9:00 AM - 5:00 PM</p>
                </article>
                </div>

      <!-- Right Column -->
      <div class="contact-form-card">
                <div class="contact-form-header">
                    <h2>Contact Form</h2>
                    <p>Fill in the form below and we’ll get back to you.</p>
                </div>

        <!-- contact form now uses wtforms and should hopefully work on deploy -->
        <form method="POST" class="contact-form">
          {{ form.hidden_tag() }}


          <!-- Username -->
          <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="input") }}
          </div>

          <!-- Email -->
          <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="input") }}
          </div>

          <!-- input field for the subject line -->
          <div class="form-group">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="input") }}
          </div>

          <!-- input field for the message -->
          <div class="form-group">
            {{ form.message.label(class="form-label") }}
            {{ form.message(class="input", rows=4) }}
          </div>

          <!-- send message button -->
          {{ form.submit() }}
        </form>
      </div>
    </div>
  </section>
</main>

<!-- ================================================= Javascript goes here ============================================= -->


{% endblock %}
<!-- anything added below endblock WILL NOT show up in the page -->