<!--
footer.html

houses footer idk man
-->

<!-- Footer -->
<footer class="site-footer">
    <div class="container footer-inner">
        <div class="footer-brand">
            <div class="footer-logo">
                <img src="https://i.postimg.cc/G37BHLsC/Sand-Solutions-Logo.png" alt="Sand Solutions Logo">
            </div>

            <span class="footer-copy">&copy; 2025 SignBridge. All rights reserved.</span>
        </div>

        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <span class="footer-divider">•</span>
            <a href="#">Terms of Service</a>
        </div>
    </div>
</footer>